version: '3.8'

services:
  flask_app:
    build: .
    container_name: flask_inventory_container
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: always
